<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Coach Config</title>
    <style>
      canvas {
        position: relative; 
        display: block;
        border: 3px solid black;
      }
    </style>
  </head>
  <body>
    <header style="text-align:center;">
      <h1>Coach Config</h1>
    </header>
    <input type="file" multiple="true" (change)="onChange($event)">
    <input type="button" value="Save" (click)="saveCanvasPDF()"/>
    <br/>
    <br/>
    <canvas id="coachcanvas"></canvas>
    <script src="./index.ts" type="module"></script>
  </body>
</html>
