<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Coach Config</title>
    <style>
      canvas {
        position: relative; 
        display: block; 
        border: 0px solid black;
      }
    </style>
  </head>
  <body>
    <canvas id="coachcanvas"></canvas>
    <script src="./index.ts" type="module"></script>
    <input type="file" multiple="true" (change)="onChange($event)">
    <input type="button" value="Save" (click)="saveCanvasPDF()"/>
  </body>
</html>
